Source: ruby-rufus-json
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-rufus-json.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-rufus-json;a=summary
Homepage: http://github.com/jmettraux/rufus-json/
XS-Ruby-Versions: all

Package: ruby-rufus-json
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
# json (>= 0, development), yajl-ruby (>= 0, development), activesupport (>= 0, development), rake (>= 0, development), yard (>= 0, development), jeweler (>= 0, development)
Description: One interface to various JSON ruby libs (yajl, json, json_pure, json-jruby, active_support). Has a preference for yajl.
 .
 One interface to various JSON ruby libs (yajl, json, json_pure, json-jruby, active_support). Has a preference for yajl.
 .
